<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
  </head>
  <body>
    <!--this chunk is for the top of page navigation-->
    <div class="ceilingNav">
      {% if 'id' in request.session %}
      <div class="topText"><div class="vcenter">Welcome, {{ name }}!</div></div>
      <form class="" action="{% url 'rl_reset' %}" method="post">{% csrf_token %}
        <input type='submit' value='Logout'>
      </form>
      <a href="{% url 'da_home' %}">Home</a>
      {% endif %}
    </div>
    <!--^^this chunk is for the top of page navigation^^-->
    <!--this chunk is for the registration section-->
    <div class="box">
      <h1>Register</h1>
      <form action="{% url 'rl_register' %}" id="topform" method='post'>{% csrf_token %}
        <div class="errors">{{ errors.blank }}</div>
        <div class="errors">{{ errors.email }}</div>
        <div class="errors">{{ errors.invalid }}</div>
        <p>email:<input type='text' name='email' value='{{ emailVal }}'></p>
        <div class="errors">{{ errors.first_name }}</div>
        <p>First Name:<input type='text' name='first_name' value='{{ firstVal }}'></p>
        <div class="errors">{{ errors.last_name }}</div>
        <p>Last Name:<input type='text' name='last_name' value='{{ lastVal }}'></p>
        <div class="errors">{{ errors.alias }}</div>
        <p>Alias Name:<input type='text' name='alias' value='{{ aliasVal }}'></p>
        <div class="errors">{{ errors.password }}</div>
        <p>Password:<input type='password' name='password' value="{{ passwrdVal }}"></p>
        <div class="errors">{{ errors.confirm_password }}</div>
        <p>Re-type password:<input type='password' name='confirm_password' value='{{ repasswrdVal }}'></p>
        <input type='submit' value='Register'>
      </form>
    </div>
    <!--^^this chunk is for the registration section^^-->
    <!--this chunk is for the login section-->
    <div class="box">
      <h1>Login</h1>
      <form action="{% url 'rl_login' %}" id="rightform" method='post'>{% csrf_token %}
        <div class="errors">{{ errorsLogin.login }}</div>
        <p>email:<input type='text' name='email' value='{{ emailVal }}'></p>
        <p>Password:<input type='password' name='password' value="{{ passwrdVal }}"></p>
        <input type='submit' value='Login'>
      </form>
    </div>
    <!--^^this chunk is for the registration section^^-->
</div>
  </div>
  </body>
</html>
