<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/da_styles.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
  <script>
    $(document).ready(function(){

        //This is the code that fetches a button click
        //(the '#' in the selector notes an 'id' not class)
        $('#test_button').click(function(){
          //this passes in a get request to a route we have selected...
          $.get("{% static 'text/test.html' %}", function(injection) {
            $('#loaderText').html(injection);
          });
        });
      });
    </script>
  </head>
  <body>
    <div class="wrapper">
      <div class="boxOne">
        <div id="hoot_logo"><img src="{% static 'image/hootdate.jpg' %}"></div>
        <div class="topText vcenter"></div>
        <form class="" action="{% url 'rl_reset' %}" method="post">{% csrf_token %}
          <input type='submit' value='Logout'>
        </form>
        <div class="linkbuddy">
        <a href="{% url 'da_profile' user.id %}">Profile</a>
      </div>

      <div class="boxTwo">
      </div>
      <div class="boxThree">
        <div class="hootButton"><a href="http://52.26.240.146/">HOOT</a></div>
      </div>
      <div class="boxFour" id="loaderText">
        <div class="main_sidebar">
          <h4>QUESTIONS TAB</h4>
          <form action="{% url 'da_question' user.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Questionaire">
          </form>
          <div class="fav_user"><div class="linkbuddy"><h2></h2></div></div>
          <div class="fav_user"><div class="linkbuddy"><h2></h2></div></div>
        </div>
        <div class="main_sidebar">
          <h2>Welcome {{ user.alias }}!</h2><br>
          <div class="user_avatar"></div>
          <h3 class="profile_label">Profile name:</h3>
          <p class="profile_label">{{ user.first_name }} {{ user.last_name }}</p>
          <p class='profile_label'>{{ user.gender.name }}</p>
          <h3 class="profile_label">Personal Description:</h3>
          <p class="profile_label">{{ user.description }} </p>
        </div>
        <div class="main_sidebar">
          {% if user.Favorites %}
            {% for person in user.Favorites %}
          <div class="fav_user">
            <div class="fav_u_body">
              <h3>{{ person.alias}}</h3> <!-- favorite user alias here -->
              <h5>{{ person.first_name }} {{ person.last_name }}</h5>
              <p>{{ person.description}}</p>
            </div>
          <div class="avatar"></div>
        </div>
            {% endfor %}
          {% else %}
        <div class="fav_user"><div class="linkbuddy"><h2>You have not selected your favorite users. HOOT ON!</h2></div></div>
          {% endif %}
          <div class="fav_user"><div class="linkbuddy"><h2></h2></div></div>
          <div class="fav_user"><div class="linkbuddy"><h2></h2></div></div>
        </div>
      </div>
    </div>
  </body>
  </html>
