<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/da_styles.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="boxOne">
        <div id="hoot_logo"><img src="{% static 'image/hootdate.jpg' %}"></div>
        <div class="topText"><div class="vcenter">Welcome, {{ user.first_name }}!</div></div>
        <form class="" action="{% url 'rl_reset' %}" method="post">
        {% csrf_token %}
          <input class="head" type='submit' value='Logout'>
        </form>
        {% if user.description %}
        <a name='home-button' href="{% url 'da_home' %}">Home</a>
        {% endif %}
      </div>
			<!-- Start adding profile box here -->
      <div class="profile_body_wrapper"> <!-- profile body box -->
        <div class="profile_body"> <!-- left side -->
          <div id="user_pic"></div>
          <p>Name: {{user.first_name}}</p>
          <p>Age: </p>
        </div>
        <div class="profile_body">
          <fieldset>
            <legend>Profile Info</legend>
            <form action="{% url 'da_update' %}" method="POST">
              {% csrf_token %}
            <label>First Name:</label>
            <div class="errors">{{ request.session.error.first_name }}</div>
            <input type="text" name="first_name" value='{{ user.first_name }}'>
            <br>
            <label>Last Name:</label>
            <div class="errors">{{ request.session.error.last_name }}</div>
            <input type="text" name="last_name" value='{{ user.last_name }}'>
            <br>
            <label>Alias Name:</label>
            <div class="errors">{{ request.session.error.alias }}</div>
            <input type="text" name="alias" value='{{ user.alias }}'>
            <label>Gender:</label>
            <div class="errors">{{ request.session.error.gender }}</div>
              <select name='gender'>
                <option disabled selected value></option>
              {% for gender in genders %}
                  {% if gender.id != 1 %}
                    {% if user.gender.id == gender.id %}
                    <option selected value="{{gender.id}}">{{gender.name}}</option>
                    {% else %}
                    <option value="{{gender.id}}">{{gender.name}}</option>
                    {% endif %}
                  {% endif %}
              {% endfor %}
              </select>
              <br>
            <label>Who do you want to talk to?</label><br>
            <div class="errors">{{ request.session.error.orientation }}</div>
              {% for gender in genders %}
                {% if gender.id != 1 %}
                  {% if gender.id in user.orientation %}
                    <input type="checkbox" checked name="orientation[]" value="{{ gender.id }}" >{{ gender.name }}</input>
                    <br>
                  {% else %}
                    <input type="checkbox" name="orientation[]" value="{{ gender.id }}" >{{ gender.name }}</input>
                  <br>
                  {% endif %}
                {% endif %}
              {% endfor %}
            <label>Description:</label>
              <br>
              <div class="errors">{{ request.session.error.description }}</div>
              <textarea name="description" rows="9" cols="50" value='{{ user.description }}'></textarea>
              <br>
              <input type="hidden" name="userID" value="{{ request.session.id }}">
              <input type="submit" value="Update Info">
            </form>
          </fieldset>
        </div>
        <!-- End adding profile box here -->
      </div>
    </div>
  </body>
</html>
